<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
<!-- 	com.github.pagehelper.PageHelper 是作用于 mybatis的，因此 需要在mybaits中配置插件 -->
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 告诉分页插件是哪个数据库 -->
			<property name="dialect" value="mysql"/>
		</plugin>
	</plugins>

</configuration>